/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url(resets.css);
@import url(fonts.css);


:root{
  --gray-white:rgba(255, 255, 255, 0.39);
}
header,
main,
footer {
  padding: 14px;
}
main,
footer {
  max-width: 1100px;
  margin: 0 auto;
}
header a,
footer a {
  text-decoration: none;
  color: inherit;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*
    MARK: Header
*/
header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10%;
}

header .ic {
  width: 20px;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  color:var(--gray-white);

}
header .ic:hover{
  /* fill:var(--gray-white); */
  color:white;
}

header nav {
  gap: 16px;
}
/* header a{
  -webkit-transform-origin-y: 1;
} */

nav button {
  padding: 5px 10px;
  font-size: 10px;
  background: whitesmoke;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
nav button:hover{
  background-color: var(--gray-white);
}
@media screen and(max-width:650px) {
  header p {
    display: none;
  }
}
/* Main */
main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.left {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 50px 10px ;
  /* margin-left: 30px; */
  
}
.left svg {
  height: 25px;
  color: whitesmoke;
}
.left h1 {
  font-size: 70px;
  line-height: 1;
  font-weight: 600;
}
.left .gradient {
  background: -o-radial-gradient(
    top left,
    circle,
    #099ef1 0%,
    #6863f8 18.82%,
    #d84ffa 32.6%,
    #f058c5 52.83%,
    #ff4f90 68.03%,
    #ff6558 87.66%,
    #ff891f 100%
  );
  background: radial-gradient(
    circle at top left,
    #099ef1 0%,
    #6863f8 18.82%,
    #d84ffa 32.6%,
    #f058c5 52.83%,
    #ff4f90 68.03%,
    #ff6558 87.66%,
    #ff891f 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.left {
  p {
    font-size: 20px;
    font-weight: 400;
    color: var(--gray-white);
    line-height: 1.4;
  }
}

.left button {
  padding: 10px 20px;
  font-size: 20px;
  background: whitesmoke;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 16px;
}
.left button:hover{
  background-color: var(--gray-white);

}

.right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin:0px 20px  40px 10px;
}
.right video {
  width: 100%;
  
 
}
@media screen and (max-width: 650px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .left {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .left,
  .right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/* footer */
footer{
  border-top:1px solid white;
  width:70%;
  margin-left: 15%;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}
footer svg{
  width:50px;
  color: white;
}
footer .primary{
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.primary a{
  margin: 10px;
}
.secondary a{
  margin:10px 10px 10px -2px;

}
